<% IF message %>
    <% host = request.uri_base.remove(':\d+') %>
    <p><% message %> <a href="<% url %>"><% host _ '/' _ url %></a></p>
<% END %>

<p>Give me a sexy url</p>
<form method="post">
    <label for="sexy_url">Sexy url:</label>
    <input type="url" id="sexy_url" name="sexy_url" placeholder="http://" />
    <input type="submit" value="Generate my sexy url" />
</form>

